<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Agenda</title>
        {% else %}
        <title>Bienvenide a tu agenda telefónica</title>
        {% endif %}
    </head>
    <body>
        <div>
            Agenda telefónica:
<!--            el enlace de iniciar sesión cambia automáticamete a Cerrar sesión después de que el usuario se loguea-->
            <a href="{{ url_for('index') }}">Inicio</a>
<!--            esta condición solo será true cuando el usuario no esté logueado-->
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>